{% extends "base.html" %}

{% block css %}

  .rating {
    display: flex;
    margin-top: -10px;
    flex-direction: row-reverse;
    margin-left: -4px;
    float: left;
  }

  .rating>input {
    display: none
  }

  .rating>label {
    position: relative;
    width: 19px;
    font-size: 25px;
    color: #ff0000;
    cursor: pointer;
  }

  .rating>label::before {
    content: "\2605";
    position: absolute;
    opacity: 0
  }

  .rating>label:hover:before,
  .rating>label:hover~label:before {
    opacity: 1 !important
  }

  .rating>input:checked~label:before {
    opacity: 1
  }

  .rating:hover>input:checked~label:before {
    opacity: 0.4
  }
{% endblock %}

{% block content %}
<main class="mt-5 pt-4">
  <div class="container mt-5">

    <!--Grid row-->
    <div class="row wow fadeIn d-flex">

      <!--Grid column-->
      <div class="col-md-6 mb-4 d-flex justify-content-end">

        <div style="height:400px; width: 400px;">
          <img src="{{ object.image.url }}" class="img-fluid" alt="" style="height:100%; width:100%">
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4">

        <!--Content-->
        <div class="p-4">

          <div class="mb-3">
            <a href="">
              <span class="badge purple mr-1">{{ object.get_category_display }}</span>
            </a>
          </div>
          <div class="mb-3">
            <p class="lead font-weight-bold" style="font-size: x-large;">{{object.title}}</p>
          </div>
          <p class="lead">
            {% if object.discount_price %}
            <span class="mr-1">
              <del>${{ object.price }}</del>
            </span>
            <span>${{ object.discount_price }}</span>
            {% else %}
            <span>${{ object.price }}</span>
            {% endif %}
          </p>

          <p class="lead font-weight-bold">Description</p>

          <p>{{ object.description }}</p>

          {% comment %} <form class="d-flex justify-content-left">
            <!-- Default input -->
            <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
            <button class="btn btn-primary btn-md my-0 p" type="submit">
              Add to cart
              <i class="fas fa-shopping-cart ml-1"></i>
            </button>

          </form> {% endcomment %}
          <a href="{{ object.get_add_to_cart_url }}" class="btn btn-primary btn-md my-0 p">
            Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </a>
          <a href="{{ object.get_remove_from_cart_url }}" class="btn btn-danger btn-md my-0 p">
            Remove from cart
          </a>

        </div>
        <!--Content-->

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>

    <!--Grid row-->
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">

        <h4 class="my-4 h4">Additional information</h4>

        <p>{{object.full_description}}</p>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

    <hr>
    <h4 class="my-4 h4">Reviews and Comments</h4>
    <form method="POST" action="." class="card">
      {% csrf_token %}
      <div class="row">

        <div class="col-10">

          <div class="comment-box ml-2">

            <h4 style="color: black;">Add a comment</h4>

            <div class="rating">
              <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
              <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
              <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
              <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
              <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
            </div>

            <div class="comment-area">

              <textarea class="form-control" name="comment" what is your view?" rows="4"></textarea>

            </div>

            <div class="comment-btns mt-2">

              <div class="row">

                <div class="col-6">

                  <div class="pull-left">

                    <button class="btn btn-success btn-sm">Cancel</button>

                  </div>

                </div>

                <div class="col-6">

                  <div class="pull-right">

                    <button type="submit" class="btn btn-success send btn-sm">Send <i
                        class="fa fa-long-arrow-right ml-1"></i></button>

                  </div>

                </div>

              </div>

            </div>


          </div>

        </div>


      </div>

    </form>
    <hr>
    <div class="row d-flex justify-content-center wow fadeIn">

      <!--Grid column-->
      <div class="col-md-6 text-center">
        {% for item in review_and_comments %}
        <hr style="color: whitesmoke;">
        <p>{{item.comment}}</p>
        <span>{{item.rating}}</span>
        <hr style="color: whitesmoke;">
        {% endfor %}

      </div>
      <!--Grid column-->

    </div>
    <hr>

    <div class="text-center" style="width: 100%;">

      <h4 class="mt-4 h4 mb-5">Recommended Products</h4>

    </div>

    <!--Grid row-->
    <div class="row wow fadeIn d-flex justify-content-center">
      {% for item in recommended_objects %}
      <div class="col-lg-3 col-md-6 mb-4">

        <div class="card">

          <div class="view overlay">
            {% comment %} <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg"
              class="card-img-top" {% endcomment %} <img src="{{ item.image.url }}" class="card-img-top"
              style="height:200px;">
            <a href="{{ item.get_absolute_url }}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <div class="card-body text-center">
            <h5>
              <strong>
                <a href="{{ item.get_absolute_url }}" class="dark-grey-text">
                  <div class="d-flex justify-content-center">
                    <span style="height:23px; overflow: hidden;">{{ item.title }}</span>
                  </div>
                </a>
              </strong>
            </h5>

          </div>

        </div>

      </div>
      {% endfor %}
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
</main>

{% endblock content %}